.bt_main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color:blueviolet;
    font-size: 16.5px;
}
.bt_col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    width: 25%;
    height: 100%;
    background-color:transparent;
}
.bt_col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 25%;
    height: 100%;
    background-color: transparent;
}
.bt_col3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 25%;
    height: 100%;
    background-color: transparent;
}
.bt_col4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
    background-color: transparent;
}
.btEnter{
    display: flex;
    height: 76%;
    width: 90%;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}
.btClear{
    display: flex;
    height: 18%;
    width: 90%;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}
.bt_col1_row1{
    width: 90%;
    height: 18%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}
.bt_col1_row2{
    width: 90%;
    height: 18%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}
.bt_col1_row3{
    width: 90%;
    height: 18%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}
.bt_col1_row4{
    width: 90%;
    height: 18%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}
.bt_col1_row5{
    width: 90%;
    height: 18%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:200% ;
    font-weight: 600;
}