.ot_main{
    display:flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    background-color: transparent;
    font-size: 16.5px;
}
.ot_row1{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70%;
    background-color: transparent;
    font-size:300% ;
    font-weight: 600;
}
.ot_row2{
    display:flex;
    width: 100%;
    height: 30%;
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
    font-size:150% ;
    font-weight: 600;
}